/*
.carousel-caption {
	 position: relative; }
*/

/* .navbar-brand{
    vertical-align: : text-top !important;
} */



/*Footer Padding*/
.footer{
  padding-left: 20px; padding-right: 20px;
}

.center-div
{
     margin: 0 auto;
     width: 100px;
}

/*Meeting Table */
/* .meetingTable { width:400px;background-color:#eee;border-collapse:collapse; }
.meetingTable th { background-color:#000;color:white;width:50%;text-align:center;font-size:large }
.meetingTable td, .meetingTable th { padding:5px;border:1px solid #000;text-align:center  } */

.overridetd {padding:5px;border:1px solid #000;text-align:center; color:red; font-size:x-large}

/* media query*/

@media all and (max-width: 599px) and (min-width: 200px){
.smallFont{ font-size: 6px}
}
@media only screen and (max-width: 480px) {
    .smallerTable {
        width:80%;
    }
}