---
layout: navbar-page
---
<script type="text/javascript">
    // Read a page's GET URL variables and return them as an associative array.
    function getUrlVars() {
        var vars = [],
            hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>
<script type="text/javascript">
    $(function () {
        if (getUrlVars()["day_of_week"]) {
            $('.meetingTable').not('.' + getUrlVars()["day_of_week"]).css('display', 'none');
            $('.meetingNewLine').not('.' + getUrlVars()["day_of_week"]).css('display', 'none');
        }
    });
</script>

{% for meeting in site.data.meetings %}
<table class='meetingTable smallerTable {{ meeting.dayOfWeek }}' align='center'>
    <tr>
        {% assign hours = meeting.time | divided_by: 3600 %}
        {% assign ampm = 'AM' %}
        {% if hours >= 12 %}
        {% assign ampm = 'PM' %}
        {% endif %}
        {% if hours > 12 %}
        {% assign hours = hours | minus: 12 %}
        {% endif %}
        {% assign minutes = meeting.time | modulo: 3600 | divided_by: 60 %}
        {% if minutes < 10 %} {% assign minutes=minutes | prepend: '0' %} {% endif %} <th>{{ meeting.dayOfWeek }} {{
            hours | append: ':' | append: minutes | append: ' ' | append: ampm }}</th>
    </tr>
    <tr color:Red>
        <td class='overridetd'>{{ meeting.groupName }}</td>
    </tr>
    {% if meeting.location != '' and meeting.location != nil %}
    <tr>
        <td><strong>{{ meeting.location }}</strong></td>
    </tr>
    {% endif %}
    <tr>
        <td><strong>{{ meeting.address.street }}</strong></td>
    </tr>
    <tr>
        <td><strong>{{ meeting.address.city }}, {{ meeting.address.state}} {{meeting.address.zip}}</strong></td>
    </tr>
    <tr>
        <td>
            {% for tag in meeting.tags %}
            {% if tag.visible %}
            <span class="badge bad-primary">{{ tag.tag }}</span>
            {% else %}
            <div style="display:none;">{{ tag.tag }}</div>
            {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
<br class='meetingNewLine {{ meeting.dayOfWeek }}'>
{% endfor %}