---
layout: default
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Ohio Valley NA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="http://www.iclubz.com/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://www.iclubz.com/js/readmore.min.js"></script>
    <script src="http://www.iclubz.com/js/chosen.jquery.js"></script>
    <script src="http://www.iclubz.com/js/jquery.validate.min.js"></script>
    <script src="http://www.iclubz.com/js/fileinput.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class='navbar-wrapper'>
        <div class='container'>

            <nav class='navbar navbar-inverse navbar-static-top'>
                <div class='container'>
                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar'
                            aria-expanded='false' aria-controls='navbar'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <a class='navbar-brand smallFont' href='#'>
                            <font color='red' size='6'>O</font>HIO <font color='red' size='6'>V</font>ALLEY <font color='red'
                                size='6'>A</font>REA OF <font color='red' size='6'>N</font>ARCOTICS <font color='red'
                                size='6'>A</font>NONYMOUS
                        </a>
                    </div>
                    <div id='navbar' class='navbar-collapse collapse'>
                        <ul class='nav navbar-nav'>
                            <li><a href='index.php'>Home</a></li>
                            <li><a href='calendar.php'>Calendar</a></li>
                            <li class='dropdown active'><a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'
                                    aria-haspopup='true' aria-expanded='false'>Meetings<span class='caret'></span></a>
                                <ul class='dropdown-menu'>
                                    <div text-align: center>
                                        <form action='meetings.php' method='get'>
                                            <a href='javascript:;'' onclick=' parentNode.submit();''>
                                                <font size='4'>Monday</font>
                                            </a>
                                            <input type='hidden' name='day_of_week' value=Monday>
                                        </form>
                                    </div>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Tuesday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Tuesday>
                                    </form>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Wednesday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Wednesday>
                                    </form>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Thursday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Thursday>
                                    </form>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Friday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Friday>
                                    </form>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Saturday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Saturday>
                                    </form>
                                    <form action='meetings.php' method='get'>
                                        <a href='javascript:;' onclick='parentNode.submit();'>
                                            <font size='4'>Sunday</font>
                                        </a>
                                        <input type='hidden' name='day_of_week' value=Sunday>
                                    </form>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    {% for meeting in site.data.meetings %}
    <table class='meetingTable smallerTable' align='center'>
        <tr>
            {% assign hours = meeting.time | divided_by: 3600 %}
            {% assign ampm = 'AM' %}
            {% if hours >= 12 }
                {% assign newHours = hours | minus: 12 %}
                {% assign hours = newHours %}
                {% assign ampm = 'PM' %}
            {% endif %}
            {% assign minutes = meeting.time | modulo: 3600 | divided_by: 60 %}
            {% if minutes < 10 %}
                {% assign minutes = minutes | prepend: '0'}
            <th>{{ meeting.dayOfWeek }} {{ hours | append: ':' | append: minutes | append: ' ' | append: ampm  }}</th>
        </tr>
        <tr color:Red>
            <td class='overridetd'>{{ meeting.groupName }}</td>
        </tr>
        {% if meeting.location != '' and meeting.location != nil %}
        <tr>
            <td><strong>{{ meeting.location }}</strong></td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>{{ meeting.address.street }}</strong></td>
        </tr>
        <tr>
            <td><strong>{{ meeting.address.city }}, {{ meeting.address.state}} {{meeting.address.zip}}</strong></td>
        </tr>
        <tr>
            <td><strong>O/D</strong></td>
        </tr>
    </table>
    <br>
    {% endfor %}

    <br>
</body>

</html>