<html  style="width: 100%">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


<!-- NAVBAR
================================================== -->

<body style="width: 100%">
    <div id="navbar-wrapper">
        <nav class="navbar navbar-expand-lg navbar-inverse navbar-static-top">
            <a class="navbar-brand smallFont" href="index.html">
                <font color="red" size="6">O</font>HIO <font color="red" size="6">V</font>ALLEY <font color="red"
                    size="6">A</font>REA OF <font color="red" size="6">N</font>ARCOTICS <font color="red"
                    size="6">A</font>NONYMOUS
            </a>                
            <div id="navbarSupportedContent" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="calendar.html">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="areadocuments.html">Area Documents</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Meetings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="meetings.html?day_of_week=Monday">Monday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Tuesday">Tuesday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Wednesday">Wednesday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Thursday">Thursday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Friday">Friday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Saturday">Saturday</a> 
                            <a class="dropdown-item" href="meetings.html?day_of_week=Sunday">Sunday</a> 
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{ content }}
</body>

</html>